<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/ordenes']">
    <mat-icon>list</mat-icon>Ir a ordenes
    </a>
  </div>
  <div class = "form-title">
    Crear Nueva Orden
  </div>
  <mat-divider></mat-divider>
  <mat-card class="example-card">
    <form [formGroup]="ordenForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Canal" formControlName="canal" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!ordenForm.get('canal').valid && ordenForm.get('canal').touched">Ingrese canal de la Orden</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Valor" formControlName="valor" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!ordenForm.get('valor').valid && ordenForm.get('valor').touched">Es requerido</span>
          <span *ngIf="!ordenForm.get('valor')['pattern']"> Debe ser un número</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Descuento" formControlName="descuento" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!ordenForm.get('descuento').valid && ordenForm.get('descuento').touched">Es requerido</span>
          <span *ngIf="!ordenForm.get('descuento')['pattern']"> Debe ser un número</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
            <mat-select placeholder="Estado" formControlName="estado" [errorStateMatcher]="matcher">
              <mat-option value="Reservada">Reservada</mat-option>
              <mat-option value="Pendiente">Pendiente</mat-option>
              <mat-option value="En tránsito">En tránsito</mat-option>
              <mat-option value="Lista para recoger">Lista para recoger</mat-option>
              <mat-option value="Cerrada">Cerrada</mat-option>
              <mat-option value="Cancelada">Cancelada</mat-option>
            </mat-select>
            <mat-error>
              <span *ngIf="!ordenForm.get('estado').valid && ordenForm.get('estado').touched">Ingrese estado de la Orden</span>
            </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Tipo de entrega" formControlName="tipo_de_entrega" [errorStateMatcher]="matcher">
          <mat-option value="Estandar">Estandar</mat-option>
          <mat-option value="Express">Express</mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!ordenForm.get('tipo_de_entrega').valid && ordenForm.get('tipo_de_entrega').touched">Ingrese tipo de entrega</span>
        </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Tipo de envío" formControlName="tipo_de_envio" [errorStateMatcher]="matcher">
      <mat-option value="Entrega en tienda">Entrega en tienda</mat-option>
      <mat-option value="Entrega en domicilio">Entrega en domicilio</mat-option>
    </mat-select>
    <mat-error>
      <span *ngIf="!ordenForm.get('tipo_de_envio').valid && ordenForm.get('tipo_de_envio').touched">Ingrese tipo de envío</span>
    </mat-error>
</mat-form-field>
      
      <div class="button-row">
        <button type="submit" [disabled]="!ordenForm.valid" mat-flat-button color="primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
